version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@3.0.0
  aws-cli: circleci/aws-cli@0.1.9
  aws_assume_role: lbh-hackit/aws_assume_role@0.1.0

executors:
  docker-python:
    docker:
      - image: circleci/python:3.7
  docker-terraform:
    docker:
      - image: "hashicorp/terraform:light"
  docker-dotnet:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1

references:
  workspace_root: &workspace_root "~"
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

commands:
  terraform-init-then-apply:
    description: "Initializes and applies terraform configuration"
    parameters:
      aws-account:
        type: string
      aws-role-name:
        type: string
    steps:
      - run:
          command: |
            cd ./terraform/
            terraform get -update=true
            terraform init
          name: get and init
      - run:
          name: apply
          command: |
            cd ./terraform/
            terraform apply -auto-approve

  deploy-lambda:
    description: "Deploys API via Serverless"
    parameters:
      stage:
        type: string
      aws-account:
        type: string
      aws-role-name:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - setup_remote_docker
      - run:
          name: Install Node.js
          command: |
            curl -sL https://deb.nodesource.com/setup_13.x | bash -
            apt-get update && apt-get install -y nodejs
      - run:
          name: Install serverless CLI
          command: npm i -g serverless
      - run:
          name: Build lambda
          command: |
            cd ./MosaicResidentInformationApi/
            chmod +x ./build.sh
            ./build.sh
      - run:
          name: Deploy lamdba
          command: |
            cd ./MosaicResidentInformationApi/
            sls deploy --stage <<parameters.stage>>

jobs:
  assume-role-development:
    executor: docker-python
    steps:
      - checkout
      - aws_assume_role/assume_role:
          account: $AWS_ACCOUNT_DEVELOPMENT
          profile_name: default
          role: "LBH_Circle_CI_Deployment_Role"
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .aws
  assume-role-staging:
    executor: docker-python
    steps:
      - checkout
      - aws_assume_role/assume_role:
          account: $AWS_ACCOUNT_STAGING
          profile_name: default
          role: "LBH_Circle_CI_Deployment_Role"
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .aws
  assume-role-production:
    executor: docker-python
    steps:
      - checkout
      - aws_assume_role/assume_role:
          account: $AWS_ACCOUNT_PRODUCTION
          profile_name: default
          role: "LBH_Circle_CI_Deployment_Role"
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .aws
  terraform-init-and-apply-to-development:
    executor: docker-terraform
    steps:
      - checkout
      - *attach_workspace
      - terraform-init-then-apply:
          aws-role-name: "LBH_Circle_CI_Deployment_Role"
          aws-account: $AWS_ACCOUNT_DEVELOPMENT
  terraform-init-and-apply-to-staging:
    executor: docker-terraform
    steps:
      - checkout
      - *attach_workspace
      - terraform-init-then-apply:
          aws-role-name: "LBH_Circle_CI_Deployment_Role"
          aws-account: $AWS_ACCOUNT_STAGING
  terraform-init-and-apply-to-production:
    executor: docker-terraform
    steps:
      - checkout
      - *attach_workspace
      - terraform-init-then-apply:
          aws-role-name: "LBH_Circle_CI_Deployment_Role"
          aws-account: $AWS_ACCOUNT_PRODUCTION
  check-code-formatting:
    executor: docker-dotnet
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install dotnet format
          command: dotnet tool install dotnet-format --tool-path ./dotnet-format-local/
      - run:
          name: Run formatter check
          command: ./dotnet-format-local/dotnet-format --dry-run --check
  build-and-test:
    executor: docker-python
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build
          command: docker-compose build mosaic-resident-information-api-test
      - run:
          name: Run tests
          command: docker-compose run mosaic-resident-information-api-test
  deploy-to-development:
    executor: docker-dotnet
    steps:
      - deploy-lambda:
          aws-role-name: "LBH_Circle_CI_Deployment_Role"
          aws-account: $AWS_ACCOUNT_DEVELOPMENT
          stage: "development"
  deploy-to-staging:
    executor: docker-dotnet
    steps:
      - deploy-lambda:
          aws-role-name: "LBH_Circle_CI_Deployment_Role"
          aws-account: $AWS_ACCOUNT_STAGING
          stage: "staging"
  deploy-to-production:
    executor: docker-dotnet
    steps:
      - deploy-lambda:
          aws-role-name: "LBH_Circle_CI_Deployment_Role"
          aws-account: $AWS_ACCOUNT_PRODUCTION
          stage: "production"

workflows:
  check-and-deploy:
    jobs:
      - check-code-formatting
      - build-and-test
      - assume-role-development:
          context: api-assume-role-development-context
          requires:
            - build-and-test
          filters:
            branches:
              only: development
      - terraform-init-and-apply-to-development:
          requires:
            - assume-role-development
          filters:
            branches:
              only: development
      - deploy-to-development:
          requires:
            - build-and-test
          filters:
            branches:
              only: development
  check-and-deploy-staging-and-production:
    jobs:
      - build-and-test:
          filters:
            branches:
              only: master
      - assume-role-staging:
          context: api-assume-role-staging-context
          requires:
            - build-and-test
          filters:
            branches:
              only: master
      - terraform-init-and-apply-to-staging:
          # context: api-assume-role-staging-context # needed if creds file persisted?
          requires:
            - assume-role-staging
          filters:
            branches:
              only: master
      - deploy-to-staging:
          # context: api-assume-role-staging-context # needed if creds file persisted?
          requires:
            - assume-role-staging
          filters:
            branches:
              only: master
      - permit-production-terraform-release:
          type: approval
          requires:
            - deploy-to-staging
      - assume-role-production:
          context: api-assume-role-production-context
          requires:
            - permit-production-terraform-release
          filters:
            branches:
              only: master
      - terraform-init-and-apply-to-production:
          requires:
            - assume-role-production
          filters:
            branches:
              only: master
      - permit-production-release:
          type: approval
          requires:
            - deploy-to-staging
          filters:
            branches:
              only: master
      - deploy-to-production:
          # context: api-assume-role-production-context # needed if creds file persisted?
          requires:
            - assume-role-production
            - permit-production-release
          filters:
            branches:
              only: master
